/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #ffffff;
    font-size: 14px;
}

/* Navigation */
header, .navbar {
    background-color: #ffffff;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 60px;
}

.navbar-brand {
    padding: 0;
    color: #000000;
}

.navbar-brand:hover{
    color:#0088d6;
}

#navbar-links a {
    color: #000000;
}

#navbar-links a:hover {
    color: #0088d6;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 100vh;
    position: relative;
    bottom: -38px;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: initial;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #fff;
    text-align: initial;
}

/* Buttom slider */

.main-btn-c {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color:#0088d6;
    text-transform: uppercase;
    width: 300px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid transparent;
    transition: .5s;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.main-btn-c:hover {
    text-decoration: none;
    color: #fff;
    background-color:#0088d6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
}

/* Button work */

.main-btn {
    background-color: #0088d6;
    color: #ffffff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover{
    text-decoration: none;
    color:#fff;
    background-color: transparent;
    border-color: #65daf9;

}

.carousel-indicators .active {
    background-color: #ffffff;
}

/* Sobre a empresa */

#about-area {
    background-color: #3a404a;
}

.img-fluid {
    border-radius: 20px;
}

.main-title {
    color: #ffffff;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #0088d6;
    margin-right: 15px;
}

/* Serviços da empresa */

.main-title-services {
    color: #3a404a;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

#services-area {
    background-color: #e8e8f0;
}

.services-area-p {
    color: #3a404a;
}

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color: #0088d6;
}

/* Dados da empresa */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area {
    background-color: #535c6b;
    background-color: #535c6b;
    border-radius: 30px;
    background-color: #535c6b;  
    border-radius: 30px;
}

#data-area p {
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Time */

.main-title-team {
    color: #0088d6;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.card-body {
    text-align: center;
}

.card-text {
    color: #000000;
}

/* Trabalhe conosco */

#apply-area {
    height: 500px;
    background-color: #3a404a;
}

#apply-area .container-fluid, #apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px;
}

#company-img {
    background-image: url('assets/img/empresa.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p {
    color: #fff;
}

#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img p {
    margin-bottom: 20px;
}

a#apply-btn.main-btn {
    margin-top: 50px;
    align-items: center;
    background-color: #ffffff;
    color: #0088d6;
    text-transform: uppercase;
    width: 300px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid transparent;
    transition: .5s;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a#apply-btn.main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #0088d6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Portifolio */

.main-title-projects {
    color: #0088d6;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.project-box {
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#portifolio-area .filter-btn{
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

#portifolio-area .filter-btn.active, #portifolio-area .filter-btn:hover {
    color: #fff;
    background-color: #0088d6;
    border-color: #65daf9;
}

/* News letter */

#news-area {
    text-align: center;
    background-color: #e8e8f0;
}

.main-title-novdades {
    color: #0088d6;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

#news-area p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #0088d6;
}

#email-input {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #65daf9;
    display: inline;
    background-origin: border-box;
    width: 40%;
    height: 40px;
}

#news-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #0088d6;
    background-color: #0088d6;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolutes;
    transition: .5s;
}

#news-btn:hover{
    background-color: #fff;
    color: #0088d6;
}

/* call to action */

 #call-area{
    background-color: #0088d6;
    text-transform: uppercase;
 }

 #call-area .container {
    padding: 40px 100px;
 }

 #call-area .row {
    display: block;
    text-align: center;
 }

 #call-area p {
    color: #fff;
    font-weight: bold;
    margin-left: 30px;
    font-size: 20px;
    width: auto;
    letter-spacing: 2px;
    margin-bottom: 0;
    display: inline;
    height: 60px;
    line-height: 60px;
 }

 #call-area #call-btn {
    align-items: center;
    background-color: #ffffff;
    color: #0088d6;
    text-transform: uppercase;
    width: 100px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid transparent;
    transition: .5s;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 #call-area #call-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #00a2ff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
 }

 /* footer */

 #contact-area {
    text-align: center;
    background-color: #343a40;
 }

 .contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #3ec1d5;
 }

 .contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
 }

 .contact-box p {
    font-size: 16px;
 }

 .contact-title {
    font-weight: bolder;
    color: #3ec1d5;
 }

 #msg-box p {
    font-size: 22px;
 }

 #contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
 }

 #contact-form .main-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #ffffff;
    color: #0088d6;
    text-transform: uppercase;
    width: 300px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid transparent;
    transition: .5s;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 #contact-form .main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #0088d6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
 }

 /* Copy */

 #copy-area {
    background-color: #000000;
 }

 #copy-area .container {
    padding: 10px 0;
    text-align: center;
 }

 #copy-area .container p {
    margin-bottom: 0;
 }

 #copy-area .container a {
    font-weight: bolder;
    color: #0088d6;
 }

 #copy-area .container a:hover {
    text-decoration: none;
    color: #ffffff;
 }
 
/* Responsive */

@media(max-width: 768px) {

    /* Geral */
    .container {
        padding: 20px 0;
    }


    /* Slider */
    #mainSlider .carousel-inner, #mainSlider .carousel-item {
        height: auto;
        margin-bottom: 35px;
    }


    #mainSlider .carousel-caption h2 {
        font-size: 28px;
    }

    #mainSlider .carousel-caption p {
        font-size: 18px;
        margin-bottom: 40px;
    }


    .carousel-caption {
        left: 10%;
        right: 10%;
    }

    /* About */
    #about-area img {
        margin-top: 55px;
    }

    .main-title {
        margin: 25px;
    }

    .main-title-services {
        margin-bottom: 90px;
        margin-top: 25px;
    }

    /* Data */

    #data-area {
        border-radius: 0%;
    }

    .circle-box div {
        padding: 0 10px;
    }

    #data-area p {
        font-size: 16px;
    }

    /* Team */
    .card-title {
        font-size: 14px;
    }
        
    .card-text {
        font-size: 12px;
    }
        
        
    /* apply */
    #apply-area .apply-box {
        padding: 50px 25px;
    }
        
    /* News */
    #news-area p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
        
        
    #email-input {
        width: 70%;
    }
        
        
    #call-area {
        margin-top: 30px;
    }
        
    #call-area .container {
        padding: 30px;
    }

    #call-area p, #call-area #call-btn {
        font-size: 15px;
    }
}

@media(max-width: 425px) {


    /* slider */

    .container-fluid {
        padding: 0;
    }

    #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 30vh;
    position: relative;
    bottom: -38px;
    }

    #mainSlider {
        margin-top: 0px;
    }

    .main-btn-c {
        padding: 0;
        width: 90px;
        height: 30px;
        font-size: 8px;
    }


    #mainSlider .carousel-caption {
        top: 5%;
    }


    #mainSlider .carousel-caption h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: initial;
    }


    #mainSlider .carousel-caption p {
        display: none;
    }


    .carousel-caption .main-btn {
        font-size: 14px;
    }


    /* About */
    .main-title {
        font-size: 25px;
    }


    #about-area img {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .main-title-services {
        font-size: 25px;
    }


    /* Data */
    .circle-box {
        width: 50%;
    }


    /* team */
    #team-area .col-md-3 {
        width: 50%;
        margin-bottom: 25px;
    }

    /* apply */
    #apply-area {
        height: auto;
    }
    
    
    #company-img {
        display: none;
    }
    
    
    /* Filter */
    #portifolio-area .filter-btn {
        margin-bottom: 15px;
    }
    
    
    .project-box {
        width: 50%;
    }
    
    
    /* News */
    .main-title-team {
        font-size: 25px;
    }
    
    .main-title-projects {
        font-size: 25px;
    }
    
    .main-title-novdades {
        font-size: 25px;
    }

    #call-area #call-btn {
        height: 40px;
    }

    #news-area .main-title {
        font-size: 24px;
    }
    
    
    #news-area p {
        font-size: 16px;
    }
    
    
    #email-input {
        width: 80%;
    }
    
    
    /* cta */
    #call-area p, #call-area #call-btn {
        font-size: 12px;
        letter-spacing: 0;
        margin: 0;
        width: 50%;
    }

    /* Contact */
    .contact-box {
        border: none;
        margin-bottom: 0;
    }
                    
    /* Menu hamburguer */        
            
    .navbar-nav {
        text-align: center;
        width: 100%;
    }
            
    .navbar-nav .nav-item {
        float: none;
        display: inline-block;
    }
}

 @media (max-width: 990px) {
     .navbar-nav {
         text-align: center;
         width: 100%;
     }


     .navbar-nav .nav-item {
         display: block;
         float: none;
         margin: 0 auto;
     }
 }

/*  Botão voltar ao topo */
.to-top {
    background-color: #0088d6;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;

}

html {
    scroll-behavior: smooth;
}